#Ignore all files and folders.
#https://blog.terresquall.com/2020/04/using-github-desktop-as-your-source-control-repository-in-unity/
/*

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
!Assets/
!ProjectSettings/
!.gitignore
!.gitattributes